.jose {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.darkGrey {
    color: hsl(0, 0%, 41%);
}

body {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/mobile/image-hero.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 10rem;
}

.hero nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13rem;
    padding: 2rem;
    align-items: center;
}

h1 {
    color: white;
    border: 0.15rem solid white;
    padding: 1.5rem;
    font-size: 2rem;
    margin: 2rem;
    white-space: pre-line;
}

.burger {
    display: flex;
}

.logo img {
    width: 70%;
}

.menu {
    color: white;
    display: none;
    gap: 2rem;
    font-size: 0.9rem;
}

.VR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    position: relative;
}

.VR .title,
.VR .text {
    text-align: center;
}

.VR .title,
.creations .title {
    font-size: 2rem;
}

.creations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.boxs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box {
    position: relative;
}

.boxs .box p {
    white-space: pre-line;

}

.creations .title {
    margin-bottom: 3rem;
}

.creations .boxs .box p {
    color: white;
    opacity: 70%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.creations button{
    background-color: white;
    border: 0.15rem solid black;
    padding: 0.5rem 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center;
}

footer .logo {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    opacity: 90%;
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.socials {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

footer p:last-child {
    opacity: 50%;
    margin-bottom: 5rem;
}


@media screen and (min-width: 576px) {
    .box {
        width: 24%;
    }

    .boxs {
        justify-content: space-between;
    }

    .menu {
        display: flex;
    }

    .burger {
        display: none;
    }

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../img/desktop/image-hero.jpg");
        padding: 1rem 5rem;
    }

    h1 {
        /* white-space: normal;  */
        width: 50%;
    }

    .VR {
        flex-direction: row;
        display: block;
        /* position: relative; */

    }

    .VR img {
        margin: 0 5rem;

    }

    .VR-text {
        position: absolute;
        bottom: 0;
        right: 5rem;
        background-color: white;
        width: 40%;
        padding: 3rem;
        height: 12rem;
    }

    .creations {
        align-items: start;
        margin: 7rem;
        outline: 2px solid red
    }

    .theButton{
        order:-1;
    }

    .creations .boxs .box img {
        outline: 2px solid blue;
    }

    /*  */

    footer {
        /* flex-direction: row; */
    }

    footer nav {
        /* flex-direction: row; */
        /* align-items: start; */
    }

    .socials, footer p{
        /* align-items: end; */
    }
  


}